.container {
  display: grid;
  gap: 10px;
}

.input {
  background-color: rgba(50, 50, 50, 0);
  outline: none;
  border: none;
  border-bottom: 1px solid cyan;
  width: 20rem;
  height: 2.75rem;

  color: white;
  padding: 0;
  padding-left: 5px;
  font-family: kiona;
  text-align: center;
}

.big {
  font-size: 30px;
  font-weight: 800;
}

.small {
  font-size: 16px;
  font-weight: 400;
}
