.pill {
  display: flex;
  align-items: center;
  position: absolute;
  width: 122px;
  height: 27px;
  border-radius: 15px;
  color: black;
  z-index: 1;
  cursor: pointer;
  font-size: 18px;
}

.extreme {
  background-color: rgb(211, 7, 40);
  gap: 5px;

  img {
    width: 13px;
    height: 13px;
  }
}

.hard {
  background-color: rgb(247, 125, 10);
  gap: 20px;

  img {
    width: 10px;
    height: 15px;
  }
}

.normal {
  background-color: rgb(11, 39, 61);
  color: white;
  justify-content: center;

  .circle {
    display: none;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.circle {
  background-color: black;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
