.button {
  width: 20rem;
  height: 2.75rem;
  border-radius: 2rem;
  background-color: rgb(50, 50, 50);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.icon {
  position: relative;
}
