.container {
  display: grid;
  gap: 10px;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.input {
  background-color: rgb(50, 50, 50);
  outline: none;
  border: 1px solid cyan;
  width: 20rem;
  height: 2.75rem;
  font-size: 21px;
  color: white;
  padding: 0;
  padding-left: 5px;
  font-family: ArabotoNormal;
}

.label {
  font-size: 21px;
}
