.tabs {
  display: flex;
  font-family: kiona;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: black;
}

.tabsMobile {
  display: flex;
  font-family: kiona;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: black;
  padding-left: 1rem;
  padding-right: 1rem;
}

@mixin tabAfter($color) {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 0px;
  padding-bottom: 0.5rem;

  @media (min-width: 600px) {
    top: 13px;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top: 20px;
    left: 0;
    transition: transform 0.25s ease-out;
    background-color: white;
    border: 2px solid white;
    outline: none;
    border-color: $color;
    box-shadow: 0 0 10px $color;
  }

  &:hover:after {
    transform: scaleX(1);
  }
}

.redTab {
  @include tabAfter(red);
}
.yellowTab {
  @include tabAfter(yellow);
}
.greenTab {
  @include tabAfter(green);
}
.blueTab {
  @include tabAfter(blue);
}
.purpleTab {
  @include tabAfter(magenta);
}
.orangeTab {
  @include tabAfter(orange);
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
}

.expanded {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
}
