//images are max 512x512 so the article should be a big larger to account for borders

.article {
  background-color: rgb(11, 33, 54);
  font-family: ArabotoNormal;
  white-space: pre-wrap;

  h2 {
    margin-left: 1rem;
  }
}

.content {
  margin-left: 1rem;
  min-width: 90%;

  @media (min-width: 600px) {
    width: 550px;
  }
}

.Bold {
  font-weight: bold;
}

.Italic {
  font-weight: italic;
}

.H1 {
  font-size: 32px;
}

.H2 {
  font-size: 26px;
}

.H3 {
  font-size: 22px;
}

.H4 {
  font-size: 20px;
}

.Link {
  color: red;
}
