.container {
  display: grid;
  gap: 10px;
}

.select {
  height: 2.75rem;
  background-color: rgb(50, 50, 50);
  color: white;
  border: 1px solid cyan;
  font-size: 21px;
}

.label {
  font-size: 21px;
}
